body{
	background-color:#ffccff;
	color:#000080
	font: 200 50px Pacifico;
	line-height: 2.5em;
}
.container{
	width:1200px;
	margin:auto;
}
.box-1{
	background-color: pink;
	color:black ;
	border: 5px #a0522d solid;
	padding: 30px;
	margin: 50px
}
.box-1 h1{
	font-family: Tahoma;
	letter-spacing: 0.1em;
}
.box-2{
	background-color: #cc3399;
	color:white;
	border: 5px  white dotted;
	padding: 30px;
	margin: 50px
}
.box-2 h1{
	font-family: Tahoma;
	letter-spacing: 0.1em;
}
.list{
	background-color: white;
	border: 2px white solid;
}
	
